<%- include('../header.ejs')%>
<br><br>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Qualification</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    
                        <td><%= d._id %></td>
                        <td><%= d.name %></td>
                        <td><%= d.email %></td>
                        <td><%= d.mobile %></td>
                        <td><%= d.address %></td>
                        <td><%= d.gender %></td>
                        <td><%= d.qualification %></td>
                    
                    </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('../footer.ejs')%>
</body>
</html>